* {
margin: 0;
padding: 0;
box-sizing: border-box;
}


body {
    font-family: sans-serif;
    background-color: black;
    color: blueviolet;
}

header { 
    background-color: black;
    color: blueviolet;
    padding: 30px 0;
    text-align: center;
}

 .Gaming_Store img {
    width: 150px;
}

ul { 
    list-style-type: none;
    margin: 10px;
}

ul li{
    display: inline-block;
    margin: 0 15px;
}

a {
    color: blueviolet;
    text-decoration: none;
    font-weight: bold;
}



