* {
margin: 0;
padding: 0;
box-sizing: border-box;
}


body {
    background-color: black;
    color: blueviolet;
    background: url(img_proyecto/img_fondo/fondo.jpg);   
    background-size: cover;
    background-position: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}

header { 
    background-color: black;
    color: blueviolet;
    padding: 20px;
    text-align: center;
}

 .Gaming_Store img {
    width: 100%px;
   
}

ul { 
    list-style-type: none;
    margin: 10px;
}

ul li {
    display: inline-block;
    margin: 0 15px;
}

a {
    color: blueviolet;
    text-decoration: none;
    font-weight: bold;
}

main {
    margin: 40px;
}

.categoria { 
    margin-bottom: 40px;
}

h2 {
    font-size: 24px;
    color: white;
    margin-bottom: 10px;
}

.lista-de-productos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.Productos { 
    background-color: white;
    padding: 20px;
    width: 30%;
    box-shadow: 8px black;
    border-radius: 8px;
    text-align: center;    
}

.Productos-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

h3 {
    margin: 10px;
    font-size: 18px;
}

.precio {
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin: 10px;
}

i {
    font-size: 15px;
    color: black;
    margin-bottom: 15px;
}

.agregar {
    background-color: black;
    color: white;
    padding: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
}


.Juego {
    background-color: white;
    padding: 20px;
    box-shadow: 8px black;
    border-radius: 8px;
    margin-top: 40px;
}

.juego h2 {
    font-size: 24px;
    color: grey;
}

.Juego-seleccionado {
    margin-bottom: 20px;
}

.total {
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.boton_pago {
    background-color: blueviolet;
    color: white;
    padding: 20px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
}

.Registro {
    background-color: black;
    text-align: center;
    padding: 30px;
    border-radius: 8px;
    width: 100%;
    flex-direction: column;
    display: flex;
}

label {
    display: block;
    margin: 10px;
    text-align: center;
}

input {
    width: 100%;
    padding: 10px;
    margin: 15px;
    border-radius: 5px;
    border: 3px solid blueviolet;
    box-sizing: border-box;
    text-align: center;
}

button {
    width: 50%;
    padding: 40px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer; 
}



footer {
    background-color: black;
    color: white;
    padding: 40px;
    text-align: center;
}



